

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color:grey;
}

/* Style the header */
.header {
  background-color: inherit;
  padding: 20px;
  text-align: center;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
body {
  background-color: blueviolet;
}

  }
  




/* Responsive layout - makes the three columns stack on top of each other instead of next to each other + change background colour */
@media screen and (max-width:600px) {
  
  body {
    background-color: cornflowerblue;
  }

  .column {
    width: 100%;
  }
}